* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* background: #282d35; */
}

.navbar {
  display: flex;
  background: #21222a;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  color: #61dafb;
  margin-right: auto;
  font-size: 22px;
}

.nav--title {
  color: white;
  float: right;
  font-weight: 600;
}

.nav--icon {
  align-content: center;
  height: 26px;
  margin: 4px;
}

main {
  color: white;
  background: #282d35;
  height: 100vh;
  margin-top: 6px;
  margin: 0;
  /* padding: 57px 27px; */
  /* background-image: url(../images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%; */
}

.main--header {
  padding: 30px 0 16px 24px;
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--list {
  line-height: 2rem;
  padding: 0 0 0 60px;
  /* margin-top: 46px; */
  max-width: 400px;
}

.main--list > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--list > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}
