* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.navbar {
  display: flex;
  background: #21222a;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  color: #61dafb;
  margin-right: auto;
  font-size: 22px;
}

.nav--title {
  color: white;
  float: right;
  font-weight: 600;
}

.nav--icon {
  align-content: center;
  height: 26px;
  margin: 4px;
}
